{% extends 'base.html' %}

{% block title %}
Poisk po zaprosu {{query}}
{% endblock %}
{% block content %} 
<div class="container">
    <h2>Posti po zaprosu {{query}}</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for post in posts %}
        <div class="col">
          <div class="card">
            <img src="{{post.image.url}}" style="height: 200px; object-fit: cover;" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{{post.get_link}}">
                <h5 class="card-title">{{post.title}}</h5>
              </a>
              <p class="card-text">{{post.created_at|date:'d-F-Y'}}</p>
            </div>
          </div>
        </div>
        {% empty %}
        <p>Prostite poisk po zaprosu {{query}} ne dal rezultatov</p>
        {% endfor %}
      </div>
</div>

{% endblock %}